* {
  font-family: 'Roboto', sans-serif;
}

.row{
  padding: 0 !important;
  margin: 0 !important;
}


.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
}

body, html{
  width: 100% !important;
  overflow-x: hidden;
}

.navbar-header{
  margin-right: 0;
  margin-left: 0;
}

.landingskillup {
  background-color: lightblue;
  color: white;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  width: 100% !important;

}

.ptestimonios{
  color: black;
}
.font_light{
  font-weight: 300;
}

.textwhite{
  color:white;
}

.Circulito > img{
  max-width: 75px;
  margin-bottom: 15px;
}

ul{
  text-decoration: none;
  list-style-type: none;
  padding-top:14px;

}

li{
  padding-right: 14px;
}

.pTop{
  padding-top: 6px;
}

.floatR{
  float: right;
}
.Funciona{
  background-color: lightblue;
}
.parrafo{
  font-size: 18px;
  text-align: justify;
  text-align: center;

}

.empty_margin{
  margin: 30px auto;

}

.call{

  color: #1196cc;
  margin-top: 30px;
}

.botones{
  background-color: pink;
  color: #1196cc;
  border-radius: 25px;
  min-width: 150px;
}
.botoninicio{
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  font-weight: bold;
}

footer{
  color: #808080;
  min-height: 400px;

}
.logo{
padding-top: 20px;
max-width: 250px;

}
.logo-mini{
padding-top: 20px;
max-width: 100px;

}

.margin_b {
  margin-bottom: 60px;

}

.empty_space{
  padding-top: 30px;
}

.navbar-toggle{
  background-color: white;

}
.icon-bar{
  background-color: #1196cc;

}

.Pilares{
  min-height: 400px;
  background-color: lightgray;

}

.icon_socialmedia{
  max-width: 40px;

}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}
.empty_footer{
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .navbar-nav{
    margin: 0px;
  }

  ul{
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    color: #1196cc;
  }

}

.npilares{
  color: red;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 300;
}
.textwhite2{
  color: white;
}


/* amazing team de agency boostrap*/


/* checar mis clases biens, checar llaves, sintaxi */

#team {
  background-color: lightpink;
}
.bg-light-gray{
  background-color: lightgray;
}
.container{
  align-content: center;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: red;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: red;
}

}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/*contact de agency boostrap*/
.contact-color{
  background-color: lightgreen;
  width: 100%;
}
#contact {
  background-color: black;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}

.impact-hub{
  max-width: 350px;

}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  background-color: lightgray;
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/*  testimonial carrousel */
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#carousel{
  background-color: lightyellow;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: pink;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
/*  nav var hover down  */
